/*
 	Main Container Styles
 */
.chat-container {
	margin: 45px 85px;

	-webkit-box-shadow: 0px 15px 12px -6px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 15px 12px -6px rgba(0,0,0,0.45);
	box-shadow: 0px 15px 12px -6px rgba(0,0,0,0.45);

	border-radius: 4px;
}

/*
 	Participants' List Styles
 */

.participants-list {
	background-color: #FFF;
	border-radius: 4px 0 0 4px;
}

.participants-list-header{
	background-color: #29394C;
	margin: 0;
	border-radius: 4px 0 0 0;
}

.participants-list-header h3{
	color: #DBDCDD;
}

.participants-list-header md-icon {
	color: #DBDCDD;
	padding-right: 15px;
}

.participants-list-repeater-container .md-virtual-repeat-offsetter {
	right: 0;
}

.participants-list-item {
	padding: 10px;
	cursor: pointer;
}

.participants-list-item > .unread-message-count {
	font-size: 12px;
	color: #d5d5d5;
	font-style: italic;
}

.participants-list-item button {
	text-align: left;
	background-color: rgba(69, 170, 185, 0.5);
	color: #DBDCDD;
}

.logout-btn {
	margin: 0 10px 0 0;
	background-color: rgba(255, 255, 255, .15) !important;	
}

/*
 	Conversation Styles
 */

.chat-header {
	background-color: #29394C;
	margin: 0;
	border-radius: 0 4px 0 0;
	border-left: 1px solid rgba(255, 255, 255, .3);
}

.chat-header h3 {
	color: #DBDCDD;
	text-align: center;
}

.chat-messages, 
.chat-repeater-container {
	background-color: #EEEEEE;
	border-radius: 0 4px 4px 0;
}

.message-controls {
	padding: 0 25px 10px 25px;
	border-radius: 0 0 4px 0;
}



