.chat-container {
	margin: 45px 85px;

	-webkit-box-shadow: 0px 15px 12px -6px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 15px 12px -6px rgba(0,0,0,0.45);
	box-shadow: 0px 15px 12px -6px rgba(0,0,0,0.45);

	border-radius: 4px;
}

.participants-list {
	background-color: #BFB8C1;
	border-radius: 4px 0 0 4px;
}

.chat-messages, 
.chat-repeater-container {
	background-color: #29394C;
	border-radius: 0 4px 4px 0;
}

.participants-list-header{
	background-color: #20BCB9;
	margin: 0;
	border-radius: 4px 0 0 0;
}

.participants-list-header h3{
	color: #DBDCDD;
}

.participants-list-repeater-container .md-virtual-repeat-offsetter {
	right: 0;
}

.participants-list-item {
	padding: 10px;
	cursor: pointer;
}

.participants-list-item > .unread-message-count {
	font-size: 12px;
	color: #d5d5d5;
	font-style: italic;
}

.participants-list-item button {
	text-align: left;
	background-color: rgba(69, 170, 185, 0.5);
	color: #DBDCDD;
}

.message-controls {
	padding: 10px;
	border-radius: 0 0 4px 0;
}

