<div layout="column" layout-align="center center" layout-fill>

  <div layout="column" class="login-box">
    <md-subheader class="login-box-header">
      <h3>Wamp Chat</h3>
    </md-subheader>

    <form name="loginForm">
      <md-input-container class="chat-input">
        <label>Username</label>
        <input required type="text" name="username" ng-model="vm.username" md-maxlength="15">
        <div ng-messages="loginForm.username.$error" class="login-error-box">
          <div ng-message="required">This is required.</div>
          <div ng-message="loginFail"></div>
        </div>
      </md-input-container>
      <span class="login-message error" ng-if="vm.loginStatus == 'fail'">This username is already in use. Please, select another.</span>
    </form>

    <md-button class="chat-btn"  ng-click="vm.login()">Login</md-button> 
  </div>
</div>