@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

body {
  background: url(../assets/images/bg.jpg)
  /*background-color: #EAEAEA;*/
}

.login-message {
  font-size: 12px;
  line-height: 24px;
  padding-right: 30px;
}

.login-message.error {
  color: red;
}

.login-box {
  border-radius: 4px;
  width: 100%;
  max-width: 25rem;
  height: 20rem;
  margin: -15rem auto 0;

  /*background-color: rgba(155,165,170, .12);*/
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 1.8rem rgba(0,0,0,.25);

  justify-content: space-between;
}

.login-box-header {
  background-color: #20BCB9;
  margin: 0;
  border-radius: 4px 4px 0 0;
}

.login-box-header h3 {
  text-align: center;
  color: #DBDCDD;
}

.login-box form {
  padding: 5px 15px;  
}

.login-error-box div {
  color: #D49784 !important;
}

/* Login Input Box - Default State */

/* Login Input Box - Invalid State */

.login-box form md-input-container.md-input-invalid input {
  border-color: #D49784 !important;
}

.login-box form md-input-container.md-input-invalid label {
  color: #D49784 !important;
}

/* Login Input Box - Focused State */

.login-box form md-input-container:not(.md-input-invalid).md-input-focused input {
  border-color: rgba(32, 188, 185, .5)
}

.login-box form md-input-container:not(.md-input-invalid).md-input-focused label {
  color: rgba(32, 188, 185, .5)
}

/* Login Input Box - "Has value" State */


.login-btn {
  background-color: #20BCB9;
  color: #DBDCDD;
}

.login-btn:not([disabled]):hover {
  background-color: rgba(32, 188, 185, .9);
  color: #DBDCDD;
}

.login-btn:not([disabled]).md-focused {
  background-color: rgba(32, 188, 185, .2);
  color: #BABABA;
}